 
 
 <style>
  /* General Styles */
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #333;
  }
  
  header nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #295b5b;
      padding: 15px 30px;
  }
  
  header .logo {
      font-size: 28px;
      color: #fff;
      font-weight: bold;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
  }
  
  nav ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
  }
  
  nav ul li a:hover {
      color: #ffdd57;
  }
  
  .login-btn {
      background-color: #ffdd57;
      border: none;
      padding: 8px 16px;
      color: #333;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  .login-btn:hover {
      background-color: #fbc02d;
  }
 </style><!-- Navigation Bar -->
 <nav class="navbar">
  <a href='/'><span class="logo">Nombre</span></a>
  <ul>
      <li><a href="/destinos">Destinos</a></li>
      <li><a href="/hoteles">Hoteles</a></li>
      <li><a href="/restaurantes">Restaurantes</a></li>
      <li><a href="/mapa">Mapa</a></li>
  </ul>
  

  <a href="/registrar" class="nav-link"> <button class="login-btn">Registro</button></a>
</nav>