{% extends "base.html" %}
{% block content %}

<h1>{{ place.name }}</h1>

<div>
    <p>{{ place.description }}</p>
    <p>Ubicación: {{ place.location }}</p>
    <p>Popularidad: {{ place.popularity }}</p>
</div>

<br><br><br>

<!-- Create a comment -->

<h3>Añadir un comentario</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Comentar</button>
</form>

<!-- Comments -->
<h2>Comentarios</h2>
{% for comment in comments %}
    <div>
        <p>{{ comment.user.username }}</p>
        <p>{{ comment.content }}</p>
        <p>{{ comment.created_at|date:"F d, Y" }}</p>
    </div>
{% empty %}
    <p>No hay comentarios aún.</p>
{% endfor %}



{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}



{% endblock %}